* {
   
}

body{
    background-color: #F3F2F2;
    margin: 0;
}

.appBarClass{
    margin: 0;
    padding: 16px 32px 0px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    
}


.appBarClass h1 , h2{
    margin: 0;
    display:inline;
    font-size: 50px;
    padding: 0;
}

h1 , h2 , h3{
    color:rgb(0, 0, 0);
    font-family: 'Doctor Soos Light', sans-serif;
    font-family: 'Doctor Soos Bold', sans-serif;
}

.appBarClass div{
    margin: 0;
    display:inline;
    font-size: 30px;
    float: right;
    margin-right: 50px;
}


.galeri{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 974px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    margin-bottom: 75px;
}

.aboutme{
    color:rgb(0, 0, 0);
    font-family: 'Doctor Soos Light', sans-serif;
    font-family: 'Doctor Soos Bold', sans-serif;
    background-color: rgb(224, 224, 224);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.darkicon{
    color: rgb(53, 49, 49);
    margin-top: 17px;
    float: right;
    margin-right: -219px;

}

.rotate-icon {
    color : rgb(255, 255, 255);
    float: right;
    transition: transform 3s ease; /* Dönüş animasyonu için geçiş efekti */
    transform: rotate(180deg); /* 180 derece dönme */
    transform-origin: center; /* Dönme orijini */
    cursor: pointer; /* Fare imleci türü */
    margin-right: -225px;
}
